body{
	background-image: url("../images/questionmarks.jpg");
}

hr{
	border: 2px solid #00111a;
}

.jumbotron{
	background-color: rgba(210, 236, 249, .6);
}

.triviaStylingHeading{
	font-family: 'Chivo', sans-serif;
	font-weight: bolder;
	font-size: 45px;
	color: #79c6ec;
	text-shadow: 2px 2px #00111a;
}

.triviaStylingBody{
	font-family: 'Asul', sans-serif;
	color: #002233;
}

.btn-info{
	background-color: #1880b4;
}

#heading{
	font-size: 32px;
}

#body{
	font-size: 28px;
}

#choices{
	font-size: 24px;
}

#btnHolder{
	margin-top: 50px;
}