body{
	background-image: url("../images/questionmarks.jpg");
}

.navbar-btn{
	margin-top: 25px;
}

.jumbotron{
	background-color: lightblue;
	opacity: .7;
}

.triviaStylingHeading{
	font-family: 'Chivo', sans-serif;
	font-weight: bolder;
	font-size: 40px;
	color: #79c6ec;
	text-shadow: 2px 2px #00111a;
}

.triviaStylingBody{
	font-family: 'Asul', sans-serif;
	color: #002233;
}

#heading{
	font-size: 32px;
}

#body{
	font-size: 28px;
}

#choices{
	font-size: 24px;
}